.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.babelrc
.postcssrc.js
/config/
/static/
/build/
!/build/vue-loader.conf.js
.editorconfig

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
